body {
  background-color: #f4f2ec;
}

.weather-app {
  background: white;
  max-width: 900px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px #41326414;
}

.weather-info {
  max-width: 1000px;
  background-image: url("./back.jpg");
  background-position: center;
  background-size: cover;
  padding: 20px;
  padding-bottom: 0px;
  margin: 10px auto;
  border-radius: 10px;
}
.city-title {
  margin-bottom: 10px;
  margin-top: 80px;
  font-size: 48px;
}

.container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.list-items {
  display: flex;
  justify-content: space-around;
}
