body {
  background-color: #f4f2ec;
  font-family: "Roboto", sans-serif;
}
.initial-text {
  display: flex;
  justify-content: left;
  margin-bottom: 30px;
}
.search-container {
  position: relative;
  width: 300px;
}
.search-input {
  width: 200%;
  background: #f4f2ec;
  color: #27214266;
  display: inline-block;
  font-size: 16px;
  padding: 10px 33px;
  border: none;
  border-radius: 6px;
}
.search-icon {
  position: absolute;
  top: 50%;
  right: 270px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url(./search.png);
  background-size: 15px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.top-text {
  margin: 10px;
  margin-right: 19px;
}

.weather-app {
  background: white;
  max-width: 900px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px #41326414;
}

.weather-info {
  max-width: 1000px;
  background-image: url("./back.jpg");
  background-position: center;
  background-size: cover;
  padding: 20px;
  padding-bottom: 5px;
  margin: 10px auto;
  border-radius: 10px;
}
.city-title {
  margin-bottom: 10px;
  margin-top: 80px;
  font-size: 48px;
}

.container {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}
.list-items {
  display: flex;
  justify-content: space-between;
}

.list-item {
  padding: 10px;
  width: 100%;
  margin: 10px;
  background: #f4f2ec;
  border-radius: 12px;
  box-shadow: 0 30px 50px #41326414;
}

footer {
  color: #27214266;
  font-size: 14px;
  margin-top: 30px;
}
